<!DOCTYPE html>
<html>
<head>
<title>Matic Maniac</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" media=”screen” />
</head>
<style>
    body {
        background-image: url('/static/dashboard.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: black;
        font-size: 20px;  
    }
    @font-face {
        font-family: 'Roboto';
        src: url('https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic&subset=latin,cyrillic');
    }
    .center {
        margin-left: auto;
        margin-right: auto;
}
</style>
<body style="background-image: url('/static/dashboard.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            color: black;
            font-size: 20px; ">
    <h1 style="text-align: center;">MATIC MANIAC</h1>
    <p style="text-align: center;">Matic Maniac is a place to rate your wallet and recieve a score based on your activity within the Polygon Network. Wallets with higher scores are more active and have done a larger variety of things than wallets with lower scores. Enter your wallet below and see where you stand, there are even achievements you can earn by participanting in various ways across the MATIC/Polygon Network.<br /><br /></p>
    <p style="text-align: center;font-weight: bold;">The total Maniac Score for this wallet is {{.TotalScore}}</p>
    <table style="height: 36px; width: 343px;" border="1", class="center">
    <tbody>
        
    <tr style="height: 18px;font-weight: bold;">
        <td style="height: 18px; width: 176.767px;">Achievement Name</td>
        <td style="height: 18px; width: 71.7667px; text-align: center;">Point Value</td>
    </tr>
    {{ if .FreshStart }} 
    <tr style="height: 18px;">
        <td style="height: 18px; width: 176.767px;">Fresh Start!</td>
        <td style="text-align: center; height: 18px; width: 71.7667px;">55</td>
    </tr>
    {{ else }} {{ end }}
    {{ if .NFTHolder }} 
    <tr style="height: 18px;">
        <td style="height: 18px; width: 176.767px;">NFT Holder</td>
        <td style="text-align: center; height: 18px; width: 71.7667px;">10</td>
    </tr>
    {{ else }} {{ end }}
    {{ if .NFTCollector }} 
    <tr style="height: 18px;">
        <td style="height: 18px; width: 176.767px;">NFT Collector</td>
        <td style="text-align: center; height: 18px; width: 71.7667px;">25</td>
    </tr>
    {{ else }} {{ end }}
    {{ if .Reciever }} 
    <tr style="height: 18px;">
        <td style="height: 18px; width: 176.767px;">Reciever</td>
        <td style="text-align: center; height: 18px; width: 71.7667px;">25</td>
    </tr>
    {{ else }} {{ end }}
    {{ if .Giver }} 
    <tr style="height: 18px;">
        <td style="height: 18px; width: 176.767px;">Giver</td>
        <td style="text-align: center; height: 18px; width: 71.7667px;">25</td>
    </tr>
    {{ else }} {{ end }}
    {{ if .Zen }} 
    <tr style="height: 18px;">
        <td style="height: 18px; width: 176.767px;">Zen</td>
        <td style="text-align: center; height: 18px; width: 71.7667px;">100</td>
    </tr>
    {{ else }} {{ end }}
    {{ if .Token_connoisseur }} 
    <tr style="height: 18px;">
        <td style="height: 18px; width: 176.767px;">Token Connoisseur</td>
        <td style="text-align: center; height: 18px; width: 71.7667px;">100</td>
    </tr>
    {{ else }} {{ end }}
    {{ if .Toptenk }} 
    <tr style="height: 18px;">
        <td style="height: 18px; width: 176.767px;">Top 10,000 MATIC Holder</td>
        <td style="text-align: center; height: 18px; width: 71.7667px;">100</td>
    </tr>
    {{ else }} {{ end }}
    <tr style="height: 18px;">
        <td style="height: 18px; width: 176.767px;">Top 10,000 MATIC Holder</td>
        <td style="text-align: center; height: 18px; width: 71.7667px;">100</td>
    </tr>
    {{ range .Coinblurb }}
    <tr style="height: 18px;">
        <td style="height: 18px; width: 176.767px;">{{.}}</td>
    </tr>
    {{ end }}
    </tbody>
    </table>
</body>
</html>
